{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky -  住院病人项目选择{% endblock %}

{% block page_content %}

<div class="page-header">
    <h3>住院病人项目选择</h3>
</div>
<ul>
    <li><a href="{{url_for(inpatient.registerTableSet, patientid=patientid, id=id)}}">病人登记</a></li>
    <li><a href="{{url_for(inpatient.registerBed, patientid=patientid, id=id)}}">病床登记</a></li>
    <li><a href="{{url_for(inpatient.check, patientid=patientid, id=id)}}">住院检验</a></li>
    <li><a href="{{url_for(inpatient.inspect, patientid=patientid, id=id)}}">住院检查</a></li>
    <li><a href="{{url_for(inpatient.prespect, patientid=patientid, id=id)}}">住院处方</a></li>
</ul>

{% endblock %} 