{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky -  住院病人信息套表{% endblock %}

{% block page_content %}

<div class="page-header">
    <h3>住院病人信息套表</h3>
</div>
{% if nodata %}
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
<div class="col-md-6">
    <div>
        <h4>检查条目</h4>
        <ul>
            {% for item in check %}
            <li>检查项目：{{item.checkitemsid}} 开具医生：{{item.doctorinfo.id}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h4>检验条目</h4>
        <ul>
            {% for item in inspect %}
            <li>检验项目：{{item.inspectitemsid}} 开具医生：{{item.doctorinfo.id}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h4>处方条目</h4>
        <ul>
            {% for item in persect %}
            <li>处方：{{item.prescriptitemsid}} 开具医生：{{item.doctorinfo.id}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if patientid and id %}
    <a href="{{url_for('inpatient.patientList', patientid=patientid, id=id)}}">下一步</a>
{% endif %}
{% endblock %}