{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - 家庭医生{% endblock %}

{% block page_content %}
<div class="page-header">
        <h4>家庭医生</h4>
        <li><a href="{{ url_for('familydoctor.fdcreate')}}">返回</a></li>
    </div>
<div class="col-md-4">
    <div>
        <h4>家庭医生信息</h4>
        <ul>
            {% for item in fdwinfo %}
            <li>
                医生的id:{{item.FDid}}
                区域的id:{{item.FDareaid}}
                区域的名字:{{item.FDareaname}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}