{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - 家庭医生{% endblock %}

{% block page_content %}
<div class="page-header">
        <h4>家庭医生</h4>
        <li><a href="{{ url_for('familydoctor.specialconcern')}}">返回</a></li>
    </div>
<div class="col-md-4">
    <div>
        <h4>特殊关注对象信息</h4>
        <ul>
            {% for item in scinfo %}
            <li>
                病人的id:{{item.SCpid}}
                病人的姓名:{{item.SCpname}}
                关注的日期:{{item.SCpdate}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}